<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orcaformation.calculetterci">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Calculette RCI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TypeCreditActivity" />
        <activity android:name=".activity.MarqueActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.TypeCreditActivity" />
        </activity>
        <activity android:name=".activity.ModeleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.MarqueActivity" />
        </activity>
        <activity android:name=".activity.ClientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.ModeleActivity" />
        </activity>
        <activity android:name=".activity.TypeCreditSecondChoice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.ClientActivity" />
        </activity>
        <activity android:name=".activity.FinanceCreditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.TypeCreditSecondChoice" />
        </activity>
        <activity android:name=".activity.FinanceLoaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.TypeCreditSecondChoice" />
        </activity>
        <activity android:name=".activity.CalculCreditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.FinanceCreditActivity" />
        </activity>
        <activity android:name=".activity.CalculLoaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orcaformation.calculetterci.activity.FinanceLoaActivity"/>
        </activity>
        <activity android:name=".activity.PdfActivity"></activity>


        <activity android:name=".activity.FinanceLeasingActivity"/>


    </application>

</manifest>